---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroHome from '../components/HeroHome.astro';
import FeaturedProducts from '../components/FeaturedProducts.astro';
import QuickInfo from '../components/QuickInfo.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <HeroHome />
    <FeaturedProducts />
    <QuickInfo />
  </main>
  <Footer />
</Layout>
